body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, #ec6f66,#f3a183);
    
}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.colorContainer, .fruitContainer, .foodContainer{
    height: 450px;
    width: 300px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 20px white;
    border: none;
    position: relative;
    top: 25px;
    overflow: hidden;
    transition: 2s;
}
.colorContainer:hover, .fruitContainer:hover, .foodContainer:hover {
    background-color: #ff5e62;
    height: 480px;
    box-shadow: 0 0 50px white;
}
.colorHeader, .fruitHeader, .foodHeader{
    text-align: center;
    font-size: 25px;
    padding: 5px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
.inputText{
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    
}
.inputText:hover{
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    
}
.addBtn{
    height: 35px;
    margin: 5px;
    border-radius: 25px;
    border: none;
    font-weight: 400;
    cursor: pointer;
}
.addBtn:hover{
    border: 2px solid white;
    box-shadow: 0 0 10px white;
}
.colorList, .fruitList, .foodList{
    list-style: none;
    position: relative;
    left: 30%;
    top: 5%;
    max-height: 250px;
    overflow-y: auto;
}
.colorList li, .fruitList li, .foodList li {
    font-family: cursive;
    font-size: 18px;
  }
.removeBtn{
    background-color: #ec6f66;
    border: none;
    outline: none;
    position: absolute;
    top: 78%;
    left: 12%;
    transform: translateX(-50%);
    cursor: pointer;
}
.removeText{
    position: absolute;
    bottom: 30px;
    left: 160px;
    color: #191654;
    transform: translateX(-50%);
    font-size: 16px;
}
.fruitBtn{
    background-color: #fd7c72;
}
.foodBtn{
    background-color: #f89a78;
}
